@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

#status {
    text-align: center;
    font-weight: bold;
}

#serverOff {
    color: red;
    display: inline;
}

#serverOn {
    color: green;
    display: inline;
}

#summary {
    display: inline;
    border: 1px solid lightskyblue;
    padding: 15px;
    position:relative;
    top: 80px;
    left: 150px;
    background-color: lime;
}

#shortSummary {
    position: relative;
    left: -120px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#para {
    font-weight: bold;
    margin: 10px;
    border: 1px solid black;
}